/* Table of Contents:
1. container
2. header
3. body
4. footer
5. navbar
6. unordered list
7. ordered list
8. list insert within <a>
9. hover over list
10. image
*/

/* 1. container */
.container{
    width: 1200px;
    background-color: grey;
    margin: auto;
}

/* 2. header */
.header{
    width: 1200px;
    height: 200px;
    background-color: darkgoldenrod;
}

/* 3. body */
.body{
    width: 1000px;
    height: 100%;
    background-color: white;
    float: right;
    text-align: center;
}

/* 4. footer */
.footer{
    width: 1200px;
    height: 100px;
    background-color: whitesmoke;
    float: left;
}

/* 5. navbar */
.navbar{
    width: 200px;
    height: 100%;
    background-color: lightgrey;
    float: left;
}

/* 6. unordered list */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 7. ordered list */
ol{
    background-color: teal;
    color: white;

}

/* 8. list insert within <a> */
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* 9. hover over list */
li a:hover{
    background-color: darkgoldenrod;
}

/* 10. image */
.image{
    width: 100%;
}
