.container{
    width: 1200px;
    background-color: grey;
    margin: auto;
}

.header{
    width: 1200px;
    height: 200px;
    background-color: darkgoldenrod;
}
.body{
    width: 1000px;
    height: 750px;
    background-color: white;
    float: right;
}
.footer{
    width: 1200%;
    height: 100px;
    background-color: white;
    float: left;
}


.navbar{
    width: 200px;
    height: 750px;
    background-color: lightgrey;
    float: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li a:hover{
    background-color: darkgoldenrod;
}